body {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  /* outline every box for troubleshooting*/
* {
  outline: 1px solid red !important;
}

/* TODO-X: fit border within container */
#heading {
  /* border-bottom: 3px solid #7d97ad; */
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* thanks to fellow FEnd student @William for suggesting <hr> modification */
hr.header {
  border: 2px solid #7d97ad;
}

.heading-title {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #2d3c49;
}
@media screen and (max-width: 600px) {
    .heading-title {
    text-align: center;
  }
}
/* TODO-X: add media query to text-align: center; on small screens */
/* TODO: vertical center text--too much space below */

h1.title {
  font-weight: 100;
  font-size: 3rem;
}

.banner {
  border-bottom: 3px;
  border-bottom-color: #7d97ad;
}

.featured {
  padding-bottom: 20px;
}

/* style adapted from Adam Wathan and Steve Schoger https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886 */
.featured-image {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.featured-title, .featured-address {
  text-align: center;
  color: #2d3c49;
}

.featured-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 10px;
}

.featured-address {
  color: #7d97ad;
}

#sub-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #7d97ad;
  padding-top: 10px;
}

