body {
    padding-top: 3.5rem;
  }

  /* outline every box */
/* * {
  outline: 1px solid red !important;
} */

/* TODO: fit border within container */
#heading {
  border-bottom: 3px solid #7d97ad;
  margin-bottom: 10px;
}

.heading-title {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #2d3c49;
}

h1.title {
  font-weight: 100;
  font-size: 3rem;
}

.banner {
  border-bottom: 3px;
  border-bottom-color: #7d97ad;
}

.featured-image {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.featured-title, .featured-address {
  text-align: center;
  color: #2d3c49;
}

.featured-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 10px;
}

.featured-address {
  color: hs1(0, 0%, 45%);
}

#sub-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #7d97ad;
  padding-top: 10px;
}